{% extends "adminpanel/base_adminpanel.html" %}
{% block content %}
<h2>Zdjęcia: {{ session.name }}</h2>

<div class="card p-4 mb-4 bg-light shadow-sm border text-center"
     hx-post="{% url 'panel_session_photos_upload' session.id %}"
     hx-target="#photo-grid"
     hx-swap="innerHTML"
     enctype="multipart/form-data">
    <input type="file" name="images" multiple class="form-control mb-3"
           onchange="this.form.dispatchEvent(new Event('submit'))">
    <p class="text-muted">Przeciągnij i upuść zdjęcia lub wybierz pliki ręcznie</p>
</div>

<div id="photo-grid">
    {% include "adminpanel/partials/photo_grid.html" %}
</div>
{% endblock %}
