{% extends "adminpanel/base_adminpanel.html" %}
{% block content %}
<h2>{% if session %}Edytuj{% else %}Dodaj{% endif %} sesję</h2>
<form method="POST" class="card p-4 shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Nazwa</label>
        <input type="text" name="name" class="form-control" value="{{ session.name|default:'' }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Opis</label>
        <textarea name="description" class="form-control">{{ session.description|default:'' }}</textarea>
    </div>
    <button type="submit" class="btn btn-success mt-2">Zapisz</button>
</form>
{% endblock %}
